header,
section,
footer,
aside,
nav,
article,
figure,
figcaption {
  display: block;
}
body {
  color: #666666;
  background-color: #f9f8f6;
  background-image: url("images/dark-wood.jpg");
  background-position: center;
  font-family: Georgia, times, serif;
  line-height: 1.4em;
  margin: 0px;
}
a {
  text-decoration: none;
}

.wrapper {
  width: 940px;
  margin: 20px auto 20px auto;
  border: 2px solid #000000;
  background-color: #ffffff;
}
.header {
  height: 130px;
  background-image: url(/assets/images/header.jfif);
}
.header__title {
  color: #000;
  width: 940px;
  height: 130px;
  margin: 0;
  display: flex;
  align-items: end;
}
.navbar,
.footer {
  clear: both;
  color: #ffffff;
  background-color: #aeaca8;
  height: 30px;
}
.navbar__list {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}
.navbar__list-item {
  display: inline;
  margin-right: 40px;
  color: #ffffff;
}
.navbar__item-link {
  color: #ffffff;
}
.navbar__item-link:hover {
  color: #000000;
}
.current{
  color: #000;
}
.courses {
  float: left;
  width: 659px;
  margin-top: 20px;
  border-right: 1px solid #eeeeee;
}
.arti_courses {
  clear: both;

  width: 100%;
}
.courses__title {
  margin-top: 40px;
}
.arti__courses-fig {
  float: left;
  width: 290px;
  height: 220px;
  padding: 5px;
  margin: 20px;
  border: 1px solid #eeeeee;
}
.arti__courses-figcap {
  font-size: 90%;
  text-align: left;
}
.recipes-contact {
  width: 230px;
  float: left;
  padding: 30px 0px 0px 20px;
}
.popular-recipes__link {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
  color: #de6581;
}
.popular-recipes__link:hover {
  color: #985d6a;
  background-color: #efefef;
}

.text--bg {
  margin: 10px 0px 5px 0px;
  padding: 0px;
}
.text--md {
  margin: 0px 0px 10px 0px;
  color: #de6581;
}
.contact-details__title {
  padding: 30px 0px 10px 0px;
  color: #de6581;
}
.footer {
  font-size: 80%;
  padding: 7px 0px 0px 20px;
}
.arti__courses-fig-img {
  width: inherit;
  height: inherit;
}
