.space {
  width: 200px;
  height: 90px;
  margin-top: 70px;
}
.a {
  overflow: hidden;
}
.b {
  overflow: scroll;
}
.c {
  overflow: visible;
}
.d {
  overflow: auto;
}

.one {
  border-style: solid;
}
.two {
  border-style: dotted;
}
.three {
  border-style: dashed;
}
.four {
  border-style: double;
}
.five {
  border-style: groove;
}
.six {
  border-style: ridge;
}
.seven {
  border-style: inset;
}
.eight {
  border-style: outset;
}

body {
  text-align: center;
}
.sd {
  width: 300px;
  padding: 50px;
  border: 20px solid #0088dd;
}
.example {
  margin: 10px auto 10px auto;
  width: 300px;
  padding: 50px;
  border: 20px solid #0088dd;
}

.example1 {
  background-color: #ffffff;
  border: 15px solid transparent;
  width: 300px;

  border-image: url(/images/border-image.jfif) 50 stretch;
}
